{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47482798-1', 'mathweb.org');
      ga('send', 'pageview');

    </script>
    <link rel="stylesheet" type="text/css" href="/static/leaflet/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/services/draw/dist/leaflet.draw.css"/>
    <link rel="stylesheet" type="text/css" href="/static/myCSS.css" />
    <title> MathMap </title>
  </head>
<body>
<div class="row content">
  <div class="col-lg-3">
  <h1> OpenMathMap </h1>
  <hr>
  <!--  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OpenMathMap</a>
        </div> 
        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul class="nav navbar-nav navbar-left">
            <li >
              <a href="#">About</a>
            </li>
            <li >
              <a><div class="browse">Browse</div></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li class="search-by-class" data-toggle="tooltip" data-placement="bottom" title="Search by class"><a href="#"><span class="glyphicon glyphicon-globe"></span></a></li>
            <li class="search-by-formula" data-toggle="tooltip" data-placement="bottom" title="Search by formula"><a href="#"><span class="glyphicon glyphicon-asterisk"></span></a></li>
            <li>
              <div class="navbar-form navbar-right">
                <form method="GET" class="search-form">
                  <div class="form-group">
                    <input type="text" placeholder="Search" name="term" class="msc-search form-control">
                  </div>
                  {%csrf_token%}
                  <button type="submit" class="btn btn-success btn-search" onclick="search"><span class="glyphicon glyphicon-search"></span></button>
                </form>
              </div>
            </li>
          </ul> 
        </div>
      </div>
    </div> -->
    <div class="left">
          <div class="about left-content">
            <p>The MathMap is a project being presently worked on at Jacobs University.</p>

            <p>This project wants to develop and deploy novel interfaces that empower interested parties to find their way. We have developed a prototype map generation service based on MSC classifications and deployed the maps resulting from ZBMath data in OpenStreetMap.</p>
          </div>
        </div>
    </div> <!-- col3 -->
    <div class="col-lg-9 map-content">
      <div class="row content">
        
        <!-- <div class="col-lg-9 map-content"> -->
          <div id="map">
            
          </div>
        <!-- </div> -->
      </div> <!-- row -->
      </div><!-- col 9-->
  </div> <!--row-->
      <script type="text/javascript" src="/static/jquery/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="/static/leaflet/leaflet.js"></script>
      <script type="text/javascript" src="/static/leaflet/leafletembed.js"></script>
      <script src="/static/bootstrap/js/bootstrap.file-input.js"></script>
      <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/services/oms.min.js"></script>
      <script type="text/javascript" src="/static/services/spin.min.js"></script>
      <script type="text/javascript" src="/static/services/leaflet.spin.js"></script>
      <script type="text/javascript" src="/static/services/draw/dist/leaflet.draw.js"></script>
      <script type="text/javascript" src="/static/services/FunctionButton.js"></script>
      <script type="text/javascript" src="/static/services/Leaflet.Search.js"></script>
      <script type="text/javascript" src="/static/services/rainbowvis.js"></script>


  </body>
</html>

