<div class="row">
	<form method="GET" class="search-form">
		<div class="form-group row">
			<div class="col-xs-9 no-padding">
				<input type="text" placeholder="Search" name="term" class="msc-search form-control">
			</div>
			<div class="col-xs-1 no-padding">
				<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle search-selection" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu">
  						<li role="presentation" class="dropdown-header">Search by:</li>
						<li><a id="formula" class="search-type" href="#">Formula in abstract</a></li>
						<li><a id="text" class="search-type" href="#">Text in abstract</a></li>
						<li><a id="author" class="search-type" href="#">Author</a></li>
						<li><a id="class" class="search-type" href="#">Class</a></li>
  						<li role="presentation" class="divider"></li>
  						<li role="presentation" class="dropdown-header">Example queries:</li>
						<li><a id="formula" class="search-example" href="#">f: P = NP</a></li>
						<li><a id="text" class="search-example" href="#">f: ?a^2 + ?b^2 = ?c^2 t: Pythagoras</a></li>
						<li><a id="author" class="search-example" href="#">a: Paul Erdos</a></li>
						<li><a id="class" class="search-example" href="#">c: Dynamic</a></li>
					</ul>
				</div><!-- /btn-group -->
			</div>
			<div class="col-xs-2 no-padding">
				<button type="submit" class="btn btn-success btn-search" onclick="search">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</div>
	</form>
</div>
