<div class="row">
	<form method="GET" class="search-form">
		<div class="form-group row">
			<div class="col-xs-9 no-padding">
				<input type="text" placeholder="Search" name="term" class="msc-search form-control">
			</div>
			<div class="col-xs-1 no-padding">
				<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle search-selection" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a id="formula" class="search-type" href="#">Formula</a></li>
						<li><a id="author" class="search-type" href="#">Author</a></li>
						<li><a id="class" class="search-type" href="#">Class</a></li>
					</ul>
				</div><!-- /btn-group -->
			</div>
			<div class="col-xs-2 no-padding">
				<button type="submit" class="btn btn-success btn-search" onclick="search">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</div>
	</form>
</div>
